name: Change file

on:
  push:
    branches:
      - main

jobs:
  test:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 50

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@7ecfc6730dff8072d1cc5215a24cc9478f55264d # v35.8.0
        with:
          files: |
            docs/**

      - name: Show Change Status
        if: steps.changed-files.outputs.only_changed != 'true'
        run: echo "no only change"

      - name: Show Change Status
        if: steps.changed-files.outputs.only_changed == 'true'
        run: echo "only change"

